.center
  %table
    %tr
      %th
        No.
      %th
        Name
      %th
        Email
      %th
        Unique ID
    - @users.each_with_index do |user,index|
      %tr
        %td
          = index + 1
        %td
          = user.fullname
        %td
          = user.email
        %td
          = user.unique_friend_token
